<div class="container-fluid mt-5">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <div class="col-md-4 d-flex align-items-center">
            <a href="https://www.facebook.com/Pyramidesarl1" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <i class="fab fa-facebook icon-1-5x"></i>
            </a>
            <a href="https://x.com/pyramidedigital" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <i class="fa-brands fa-square-x-twitter icon-1-5x"></i>
            </a>
            <a href="https://www.instagram.com/pyramidedigitals?igsh=OXVhNmk4ZnZ4ejR5" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <i class="fab fa-instagram icon-1-5x"></i>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary ms-3"><strong>Powered by Pyramide Digital Solutions</strong></span>
        </div>
    </footer>
</div>

<style>
    .icon-1-5x {
        font-size: 1.5em;
    }
</style>